@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3473E9 ;
    --secondary-color: #58B3FF;
    --substitute-color: #5DDFFF;
    --highlight-color: #5728A8;
    --back-ground:#FEFCF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
#erro_div{
    background-color: var(--back-ground);
    text-align: center;
    padding: 5px;
    height: 200px;
    width: 400px;
    position: absolute;
    left: 80vh;
    top: 30vh;
    border: 5px solid var(--highlight-color);
    border-radius: 20px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;

}
#erro_div hr{
    border: 1px solid var(--highlight-color);
    margin-bottom: 10%;
}

#erro_div button{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
#confim_local{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.card-confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 4px 8px 20px 0px;
    padding: 20px 20px;
    width: 550px;
}
.img-logo{
    height: 5vh;
}

.group-label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.group-label-input .textbox {
    width: 300px;
    padding: 5px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
}

.btn_confirm{
    background-color: var(--primary-color);
    color: var(--back-ground);
    border: var(--back-ground);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-weight: bold;    
}
#image_local{
    height: 100vh;
    width: 100vh;
}
#consulta_img{
    height: 100%;
    height: 100%;
}