@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3473E9 ;
    --secondary-color: #58B3FF;
    --substitute-color: #5DDFFF;
    --highlight-color: #5728A8;
    --neutral-color: #315aa7;
    --back-ground:#FEFCF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-y: hidden;
    background-color: #eff6fe;
}

.nav_bar {
    background-color: var(--neutral-color);
    margin: 10px 15px;
    padding: 10px 35px;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.575);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

.nav_bar .back_btn{  
    display: flex;
    align-items: center;
    width: 200px    ;
}

.nav_bar .back_btn a {  
    color: var(--back-ground);
    font-size: 3vw;
    text-decoration: none;
    transition: 0.3s;
}

.nav_bar .back_btn a:hover {
    transform: translateX(-9px);
}

.nav_bar .div_txt .nav_txt{
    color: var(--back-ground);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.nav_bar .logo-img {
    width: 200px;
    padding: 8px 10px;
    border-radius: 15px;
    background-color: var(--back-ground);
}

#cadastro_local{
    margin-top: 11vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--back-ground);
    border-radius: 15px;
    width: 420px;
    height: 65vh;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--primary-color);
}

.step {
    flex-direction: column;
}

.step .group-label-input {
    display: flex;
    flex-direction: column;

}

.step .group-label-input label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}

.step .textbox {
    width: 300px;
    padding: 6px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    margin-bottom: 15px;
}

.step .textbox:focus {
    outline: none;
}

.step .textbox.last {
    margin-bottom: 25px;
}

.btn_step{
    background-color: var(--primary-color);
    color: var(--back-ground);
    border: var(--back-ground);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;  
}

#btn_cadastrar {
    background-color: var(--back-ground);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.3s;
}

#btn_cadastrar:hover {
    background-color: var(--primary-color);
    color: var(--back-ground);
}