@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3473E9 ;
    --secondary-color: #58B3FF;
    --substitute-color: #5DDFFF;
    --highlight-color: #5728A8;
    --neutral-color: #315aa7;
    --back-ground:#FEFCF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #eff6fe;
    width: 100%;
}

.nav_bar {
    background-color: var(--neutral-color);
    margin: 10px 15px;
    padding: 10px 35px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.575);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

.nav_bar .back_btn{  
    display: flex;
    align-items: center;
    width: 200px    ;
}

.nav_bar .back_btn a {  
    color: var(--back-ground);
    font-size: 3vw;
    text-decoration: none;
    transition: 0.3s;
}

.nav_bar .back_btn a:hover {
    transform: translateX(-9px);
}

.nav_bar .div_txt .nav_txt{
    color: var(--back-ground);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.nav_bar .logo-img {
    width: 200px;
    padding: 8px 10px;
    border-radius: 15px;
    background-color: var(--back-ground);
}

.cards_local {
    margin: 30px 0;
    padding: 0 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: var(--back-ground);
    display: flex;
    width: 500px;
    padding: 25px 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 10%;
    text-decoration: none;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.card:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--highlight-color);
}

.card .icon_local {
    background-color: var(--primary-color);
    border-radius: 60%;
    width: 56%;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.card:hover .icon_local {
    background-color: var(--back-ground);
}

.card .icon_local i{
    font-size: 8vw;
    margin: 35px;
    color: var(--back-ground);
    transition: 0.3s;
}

.card:hover .icon_local i {
    color: var(--primary-color);
}

.card p {
    font-size: 3vw;
    font-weight: 500;
    color: black;
    margin: 5%;
}

.card:hover p {
    color: var(--back-ground);
}

.swiper_local{
    margin: 1%;
}

.swiper {
    width: 60%;
    height: 65vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.txt_noticia {
    height: 100%;
    background-size: cover;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.txt_noticia p {
    margin: 2%;
    margin-bottom: 10%;
    font-size: 1.5vw;
    color: var(--highlight-color);
    background-color: var(--secondary-color);
    border-radius: 10%;
}

.img1{
    background-image: url(/static/assets/img/noticia1.avif);

}
.img2{
    background-image: url(/static/assets/img/noticia2.avif);
}
.img3{
    background-image: url(/static/assets/img/noticia3.webp);
}
