@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3473E9;
    --secondary-color: #58B3FF;
    --terciary-color: #205cdd;
    --substitute-color: #5DDFFF;
    --highlight-color: #5728A8;
    --background-color: #FEFCF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--background-color);
    height: 100vh;
}

header {
    display: flex;
    padding: 40px 100px 40px 100px;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 290px;
}

header nav ul {
    list-style: none;
    display: flex;
    width: 400px;
    justify-content: space-between;
}

header nav ul li a {
    text-decoration: none;
    color: var(--terciary-color);
    font-size: 27px;
    font-weight: 500;
    border-radius: 13px;
    padding: 12px 17px;
    transition: 0.3s ease;
}

header nav ul li a:hover {
    background-color: var(--terciary-color);
    color: var(--background-color);
}

.container {
    padding: 100px 100px 0 100px;
    display: flex;
    align-items: center;
}

.container .part1 .texto-principal {
    font-size: 60px;
    font-weight: 500;
    width: 50%;
    margin-bottom: 60px;
}

.container .part1 .link-comecar {
    display: inline-block;
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--highlight-color);
    font-size: 55px;
    font-weight: 500;
    border-radius: 13px;
    padding: 15px 20px;
    transition: 0.3s ease;
}

.container .part1 .link-comecar:hover {
    transform: scale(1.1);
}

.container .part2 {
    margin-right: 40px;
}

.container .part2 .img-principal {
    width: 750px;
}