@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3473E9 ;
    --secondary-color: #58B3FF;
    --substitute-color: #5DDFFF;
    --highlight-color: #5728A8;
    --back-ground:#FEFCF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container{
    background-image: url(/static/assets/img/login_img.jpeg);
    filter: blur(5px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    position: relative;
}
.group-titulo-logo{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 12%;
}
.img-logo{
    height: 5vh;
}
#login_local{
    background-color: var(--back-ground);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    padding: 30px;
    width: 90vh;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 4px 8px 20px 0px;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.group-label-input{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.group-label-input .textbox {
    padding: 5px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
}

.btn_enter{
    background-color: var(--primary-color);
    color: var(--back-ground);
    border: var(--back-ground);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-weight: bold;    
}

