@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3473E9 ;
    --secondary-color: #58B3FF;
    --substitute-color: #5DDFFF;
    --highlight-color: #5728A8;
    --neutral-color: #315aa7;
    --back-ground:#FEFCF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#erro_div {
    background-color: var(--back-ground);
    text-align: center;
    padding: 15px;
    height: 200px;
    width: 400px;
    position: absolute;
    left: 1vw;
    top: 1vh;
    border: 1px solid #292929;
    border-radius: 20px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

#erro_div h3 {
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 7px;
    border-bottom: 2px solid #292929;
}

#erro_div p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #f81d1d;
}

#erro_div a{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container{
    background-color: var(--neutral-color);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    position: relative;
}

.group-titulo-logo{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 12%;
}

.img-logo{
    height: 5vh;
}

#login_local{
    background-color: var(--back-ground);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    padding: 30px;
    width: 70vh;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.group-label-input {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.group-label-input .label-nome {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.group-label-input .textbox {
    padding: 9px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    font-size: 16px;
}

.group-label-input .textbox:focus {
    outline: none;
}

.forget-passwd-link {
    margin-top: 7px;
    margin-left: 4px;
    font-size: 15px;
}

.btn_enter {
    background-color: var(--back-ground);
    color: var(--primary-color);
    font-size: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn_enter:hover {
    background-color: var(--primary-color);
    color: var(--back-ground);
}

.link-cadastrar {
    text-align: center;
}