@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3473E9 ;
    --secondary-color: #58B3FF;
    --substitute-color: #5DDFFF;
    --highlight-color: #5728A8;
    --neutral-color: #315aa7;
    --back-ground:#FEFCF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.nav_bar {
    background-color: var(--neutral-color);
    margin: 10px 15px;
    padding: 10px 35px;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.575);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

.nav_bar .back_btn{  
    display: flex;
    align-items: center;
    width: 200px    ;
}

.nav_bar .back_btn a {  
    color: var(--back-ground);
    font-size: 3vw;
    text-decoration: none;
    transition: 0.3s;
}

.nav_bar .back_btn a:hover {
    transform: translateX(-9px);
}

.nav_bar .div_txt .nav_txt{
    color: var(--back-ground);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.nav_bar .logo-img {
    width: 200px;
    padding: 8px 10px;
    border-radius: 15px;
    background-color: var(--back-ground);
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 .busca {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container1 .busca #pesquisar {
    border-radius: 23px;
    padding: 13px 22px;
    font-size: 18px;
    background-color: white;
    color: black;
    border-style: none;
    border: 2px solid #c5c5c5;
    width: 50%;
}

.container1 .busca #pesquisar:focus {
    outline: 0;
}

.container1 #consultas-geral {
    margin-top: 30px;
    padding: 20px 40px;
    width: 90vw;
    border-radius: 20px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.38);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 15px 30px;
}

.container1 #consultas-geral th {
    margin-bottom: 20px;
    font-size: 20px;
    border-right: 1px solid #c5c5c5;
}

.container1 #consultas-geral td {
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #c5c5c5;
}

.container1 #consultas-geral .last-td {
    border: none;
    width: 250px;
}

.container1 #consultas-geral a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 10px;
}

.container1 #consultas-geral .btn-editar {
    background-color: var(--primary-color);
    margin-right: 10px;
}

.container1 #consultas-geral .btn-excluir {
    background-color: #f81d1d;
}

.local_consultaInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.local_consultaInfo .div_consultaInfo{
    margin: 2%;
    border: 4px solid var(--highlight-color);
    border-radius: 10px;
    width: 30%;
    height: 25vh;
    padding: 20px;
}
.local_consultaInfo .div_consultaInfo .especialidade_consulta{
    margin-bottom: 5%;
}
.local_consultaInfo .div_consultaInfo .especialidade_consulta .especialidade_txt{
    font-size: 1.3vw;
}
.local_consultaInfo .div_consultaInfo .info_consulta .info_txt{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0 5px 0;
}
.local_consultaInfo .div_consultaInfo .info_consulta .info_txt i{
    color: var(--primary-color);
    font-size: 1.5vw;
    margin-right: 1%;
}
.local_consultaInfo .div_consultaInfo .info_consulta .info_txt p{
    font-size: 1.3vw;
}

.local_consultaInfo .div_consultaInfo .edit_consulta{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.local_consultaInfo .div_consultaInfo .edit_consulta a{
    margin: 0 1% 0 1%;
    text-decoration: none;
}

.local_consultaInfo .div_consultaInfo .edit_consulta .reagendar_a{
    background-color: var(--highlight-color);
    border-radius: 5px;
    color: var(--back-ground);
    padding: 7px;
}

.sem_agendamento{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sem_agendamento i{
    color: var(--secondary-color);
    font-size: 10vw;

}

.sem_agendamento p{
    color: var(--secondary-color);
    font-size: 2.7vw;
}

