@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3473E9 ;
    --secondary-color: #58B3FF;
    --substitute-color: #5DDFFF;
    --highlight-color: #5728A8;
    --neutral-color: #315aa7;
    --back-ground:#FEFCF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#erro_div {
    background-color: var(--back-ground);
    text-align: center;
    padding: 15px;
    height: 200px;
    width: 400px;
    position: absolute;
    left: 1vw;
    top: 1vh;
    border: 1px solid #292929;
    border-radius: 20px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

#erro_div h3 {
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 7px;
    border-bottom: 2px solid #292929;
}

#erro_div p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #f81d1d;
}

#erro_div a{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    background-color: var(--neutral-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

#passaword_local{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card-passaword{
    background-color: var(--back-ground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    width: 500px;
    height: 44vh;
}

.img-logo{
    height: 5vh;
    margin-bottom: 24px;
}

.group-label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.group-label-input .label-nome {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.group-label-input .textbox {
    width: 300px;
    padding: 9px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    font-size: 16px;
}

.group-label-input .textbox:focus {
    outline: none;
}

.btn_confirm{
    background-color: var(--back-ground);
    color: var(--primary-color);
    font-size: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;   
}

.btn_confirm:hover {
    background-color: var(--primary-color);
    color: var(--back-ground);
}

#image_local{
    height: 100vh;
    width: 100vh;
}

#consulta_img{
    height: 100%;
    border-right: 4px solid var(--back-ground);
    box-shadow: 8px 0px 5px rgba(0, 0, 0, 0.3);
}