<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/carteirinha.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Carteirinha</title>
</head>
<body>
    <form action="post">
        <nav class="nav_bar">
            <div class="back_btn">
                <a href="/home" class="bi bi-arrow-left"></a>
            </div>
            <div class="div_txt">
                <h1 class="nav_txt">Carteirinha</h1>
            </div>
            <div></div>
            
        </nav>
        <div id="card_local">
            <div id="card">
                <div class="group-titulo-logo">
                    <img src="/static/assets/img/logo2-bg-removed.png" alt="" class="img-logo">
                </div>
                <p> {{nome}}</p>
                <p> {{cpf}}</p>
            </div>
            

        </div>
        
    </form>
</body>
</html>