<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Informações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/resetarsenha.css')}}">
</head>
<body>

    {% if alert_value %}
        <div id="erro_div">
            <h3>Erro</h3>
            <hr>
            <p>{{ txt_alert }}</p>
            <button id="btn_dispose">Ok</button>        
        </div>
    {%endif%}

    
    <form method="post" action="./confirm_email">
        <label for="senha">CPF</label>
        <input id= "cpf"  type="text"  pattern="\d{11}" maxlength="11" placeholder="digite seu cpf (apenas números)" name="cpf" required>
        <br>
    
        <label for="senha">E-mail</label>
        <input type="email" id="email" name="email_user">
        <br>
    

        <button type="submit" id="btn_resetar">Confirmar</button>
    </form>

    <script src="{{ url_for('static', filename = 'script/confirmarInfo.js')}}"></script>
</body>
</html>