<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% if tipo == 'usuario_adm' %}
    <h1>Olá {{ nome }}, sua matricula é {{ matricula }}</h1>
{% else %}

    <h1>Olá {{nome}}, seu email é {{email}}</h1>

    <br>

    
    <a href="/agendar_consulta"> Agendar consulta </a>    
    

    <br>
    <a href="carteirinha.html"> Carteirinha </a>
    <br>
    <a href="meus_agendamentos.html"> Meus agendamentos </a>
    <br>
    
{% endif %}
    <a href="/logout">Logout</a>
</body>
</html>