<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/cadastrar.css')}}">
</head>
<body>

    {% if tipo == 'usuario_adm' %}
    <h1>Olá {{ nome }}, sua matricula é {{ matricula }}</h1>
        <br> <br>
         
    <a href="/lista_pacientes"> Editar Pacientes </a>    
    
    <br>
    <a href="/lista_agendamento"> Editar Consultas </a>
    <br>

    <a href="/cadastrar"> Cadastrar Novo Paciente </a> <br>



{% else %}

    <h1>Olá {{nome}}, seu email é {{email}}</h1>

    <br>

    
    <a href="/agendar_consulta"> Agendar consulta </a>    
    

    <br>
    <a href="/carteirinha"> Carteirinha </a>
    <br>
    <a href="/lista_agendamento"> Meus agendamentos </a>
    <br>
    
{% endif %}
    <a href="/logout">Logout</a>
</body>
</html>