<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/index.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/img/head_icon.png">
    <title>Tela Inicial</title>
</head>
<body>
    <header>
        <img class="logo" src="/static/assets/img/logo2-bg-removed.png" alt="logo">
        <nav>
            <ul>
                <li><a class="link-nav" href="/login">Login</a></li>
                <li><a class="link-nav" href="/cadastrar">Cadastrar-se</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <div class="part1">
            <p class="texto-principal">Sua saúde em primeiro lugar com <span class="destaque">data e hora</span> marcada.</p>
            <a class="link-comecar" href="/login">Começar</a>
        </div>
        <div class="part2">
            <img class="img-principal" src="/static/assets/img/img-principal_index.png" alt="img-principal">
        </div>
    </div>
</body>
</html>