<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/lista_pacientes.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/img/head_icon.png">
</head>

<body>
    <nav class="nav_bar">
        <div class="back_btn">
            <a href="/home" class="bi bi-arrow-left"></a>
        </div>
        <div class="div_txt">
            <h1 class="nav_txt">Editar Pacientes</h1>
        </div>
        <img class="logo-img" src="/static/assets/img/logo2-bg-removed.png" alt="logo">
    </nav>

    <div class="container">
        <div class="busca"><!--div da área de pesquisa-->
            <input type="text" placeholder="Buscar" name="Pesquisa" id="pesquisar"><!--caixa de texto-->
        </div>
        {% if tipo == 'usuario_adm' %}

        <p style="color: black;" id="no-found"></p>
        <table id="pacientes-geral">
            <thead class="grade">

                <tr class="cabecalho">
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Data nascimento</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Telefone</th>
                    <th>CEP</th>
                    <!--<th>Rua</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>UF</th>-->
                </tr>

                {% for x in lista_p %}
                <tr class="paciente-individual">
                    <td>{{x.cpf}}</td>
                    <td>{{x.nome}}</td>
                    <td> {{x.data_nasc}} </td>
                    <td>{{x.email}}</td>
                    <td>{{x.senha}}</td>
                    <td>{{x.telefone}}</td>
                    <td>{{x.cep}}</td>
                    <!--<td>{{x.rua}}</td>
                    <td>{{x.bairro}}</td>
                    <td>{{x.cidade}}</td>
                    <td>{{x.UF}}</td>-->
                    <td class="last-td">
                        <a href="{{ url_for('editar_paciente', cpf = x.cpf)}}" class="btn-editar">editar</a>
                        <a href="{{ url_for('excluir_paciente', cpf = x.cpf)}}" class="btn-excluir">excluir</a>
                    </td>
                </tr>
                {% endfor %}

            </thead>
        </table>

        {% else %}

        pagina não disponível.

        {% endif %}
    </div>

    <script src="/static/script/pesquisar_lista_pacientes.js"></script>
</body>

</html>