<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
<form method="post"> 
    <label for="cpf"> CPF </label>
    <input id="cpf" type="text"  pattern="\d{11}" maxlength="11"  name="cpf" placeholder="digite seu cpf">

    <label for="senha">Senha</label>
    <input id="senha" name="senha" type="password">

    <button type="submit">Entrar</button>
</form>

<nav>
    <ul>
        <a href="/info_confirm"> Esqueci minha senha  </a>
    </ul>
    
    <ul>
        <a href="/cadastrar">Ainda não tem uma conta? Cadastre-se</a>
    </ul>

</nav>

</body>
</html>