<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
<form method="post"> 
    <label for="email"> E-mail </label>
    <input id="email" type="email" name="email" placeholder="digite seu e-mail">

    <label for="senha">Senha</label>
    <input id="senha" name="senha" type="password">

    <button type="submit">Entrar</button>
</form>

<nav>
    <ul>
        <a href="/resetar"> Esqueci minha senha  </a>
    </ul>
    
    <ul>
        <a href="/cadastrar">Ainda não tem uma conta? Cadastre-se</a>
    </ul>

</nav>

</body>
</html>