<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/login.css')}}">
    <link rel="icon" type="image/x-icon" href="/static/assets/img/head_icon.png">
    <title>Login</title>
</head>
<body>  


<form method="post"> 
    <div class="container"></div>
        {% if alert_value %}
            <div id="erro_div">
                <h3>Erro</h3>
                <p>{{txt_alert}}</p>
                <a id="btn_dispose">OK</a>        
            </div>
        {%endif%}
    <div id="login_local">
            <div class="group-titulo-logo">
                <img src="/static/assets/img/logo2-bg-removed.png" alt="" class="img-logo">
            </div>
            <div class="group-label-input">
                <label class="label-nome" for="cpf">CPF</label>
                <input id="cpf" type="text"  pattern="\d{11}" maxlength="11"  name="cpf" placeholder="Digite seu CPF (apenas números)" class="textbox">
            </div>
            <div class="group-label-input">
                <label class="label-nome" for="senha">Senha</label>
                <input id="senha" name="senha" type="password" class="textbox" placeholder="Digite sua Senha">
                    <a class="forget-passwd-link" href="/info_confirm">Esqueci minha senha</a>
            </div>
            <div class="group-label-input">
                <button type="submit" class="btn_enter">Entrar</button>
                <a class="link-cadastrar" href="/cadastrar">Ainda não tem uma conta? Cadastre-se</a>
            </div>
        </div>
    </form>

    <script src="{{ url_for('static', filename = 'script/login.js')}}"></script>
</body>
</html>