<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            table,tr,th,td{
            border: 1px solid #A62B1F;

        }
    </style>
</head>
<body>
    <table>

        <thead>

            <tr>
                <th>Especialidade</th>
                <th>Médico</th>
                <th>Data</th>
                <th>Hora</th>
            </tr>

            {% for x in agendamentos %}  
            <tr>
                 <td>{{x.especialidade}}</td>
                <td>{{x.medico_responsavel}}</td>
                <td>{{x.data_consulta}}</td>
                <td>{{x.hora_consulta}}</td>
                <td>
                        <a href="{{ url_for('editar_consulta', id_consulta = x.id_consulta)}}">Reagendar</a>
                        <a href="{{ url_for('excluir_consulta', id_consulta = x.id_consulta)}}">Desmarcar</a>
                     </td>
            </tr>
            {%  endfor %}

        </thead>

    </table>

    <br>
    <a href="/">Voltar</a>
</body>
</html>